@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@200..700&family=Poppins:wght@500&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}

@media only screen and (min-width: 1440px) {
  html {
    width: 1440px;
    padding-left: 5rem;
    padding-right: 3.5rem;
  }

  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  header {
    background-color: #b30623;
    height: 8%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 6px;
    align-items: center;
  }

  .mobile-3 {
    display: none;
  }

  .head-logo {
    flex-grow: 1;
    margin-left: 2rem;
  }
  .head-buttons {
    color: white;
    margin-right: 2rem;
  }
  .head-buttons a {
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    color: white;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 320;
    font-style: normal;
    font-size: 1rem;
    text-decoration: none;
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 50%;
    background-color: #b30623;
    color: white;
    margin: auto;
    margin-top: 2rem;
    flex-direction: column;

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  h1 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .confirm-button {
    background-color: white;
    border-radius: 10px;
    margin-top: 2rem;
    width: 8rem;
    height: 3rem;
    text-align: center;
    display: flex;
  }
  .confirm-button a {
    text-decoration: none;
    color: #b30623;
    border-style: none;
    margin: auto;
  }
}

@media only screen and (max-width: 1439px) {
  html {
    width: 390px;
  }

  body {
    height: 100vh;
  }

  .head-buttons {
    display: none;
  }

  header {
    height: 8%;
    width: 390px;
    background-color: #b30623;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
  }
  .head-logo {
    order: 2;
    margin-right: 2rem;
  }

  .mobile-3 {
    order: 1;
    flex-grow: 1;
    display: flex;
    align-self: center;
  }

  .mobile-3 a {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    color: white;
    margin-top: 0.6rem;
  }

  .menu-dropdown a {
    color: #fff;
    text-decoration: none;
  }

  .dropdown-container {
    height: 100%;
  }

  .dropdown {
    position: relative;
    height: 35px;
    display: -ms-grid;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
  }

  .dropdown div {
    background-color: white;
    position: relative;
    width: 35px;
    height: 3px;
    margin-top: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  #toggle-dropdown {
    display: none;
  }

  #toggle-dropdown:checked + .dropdown .top {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: 22.5px;
    margin-top: 21.5rem;
  }

  #toggle-dropdown:checked + .dropdown .middle {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -5px;
  }

  #toggle-dropdown:checked + .dropdown .bottom {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  #toggle-dropdown:checked ~ .menu-dropdown {
    height: 360px;
    margin-top: 20rem;
  }

  .menu-dropdown {
    width: 100%;
    background-color: #b30623;
    margin: 0;
    display: -ms-grid;
    display: grid;
    grid-template-rows: 1fr repeat(4, 0.5fr);
    grid-row-gap: 25px;
    padding: 0;
    list-style: none;
    clear: both;
    width: auto;
    text-align: center;
    height: 0px;
    overflow: hidden;
    transition: height 0.4s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .menu-dropdown a:first-child {
    margin-top: 10px;
  }

  .menu-dropdown a:last-child {
    margin-bottom: 10px;
  }

  .link1 {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    font: 700 20px "Oswald", sans-serif;
  }

  .link1:hover {
    background-color: #fff;
    color: lightgray;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .head-buttons {
    display: none;
  }

  .head-logo {
    flex-grow: 1;
    align-self: center;
    margin-right: -5rem;
  }

  main {
    display: flex;
    width: 70%;
    background-color: #b30623;
    color: white;
    margin: auto;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border-radius: 15px;
  }

  h1 {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  h2 {
    font-size: 1rem;
    margin-top: 1rem;
  }
  h3 {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .confirm-button {
    background-color: white;
    border-radius: 10px;
    margin-top: 2rem;
    width: 8rem;
    height: 3rem;
    text-align: center;
    display: flex;
    margin-bottom: 1rem;
  }
  .confirm-button a {
    text-decoration: none;
    color: #b30623;
    border-style: none;
    margin: auto;
  }
}
