@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@200..700&family=Poppins:wght@500&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: black;
  background-color: white;
  margin-top: 70px;
  margin-left: 180px;
  margin-right: 180px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  height: 1870px;
}
.container {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  height: 100%;
}
.main-container {
  display: flex;
  flex-direction: column;
  width: 2000px;
  margin-right: 70px;
  
}

.sidebar {
  flex-shrink: 1;
  background-color:#B30623;
  display: flex;
  width: 30%;

  border-radius: 10px;

}
.frontpage {
  flex-grow: 1;
  display: flex;
  height: 35%;

  border-radius: 10px;
  overflow: hidden;
}
.mid-bar {
  flex-grow: 1;
  display: flex;
}
.main {
  flex-grow: 1;
  background-color: lightcoral;
  display: flex;
  height: 35%;

  border-radius: 10px;
}

.head {
  flex-grow: 1;
  background-color: #B30623;
  height: 170px;
  display: flex;
  margin-bottom: 70px;
  border-radius: 10px;
  border: 3px solid black;
}
.head-logo{
  flex-grow: 1;
  align-self: flex-start;
  margin-top:45px;
  margin-left: 60px;
}
.head-buttons {
  align-self: flex-end;
  color: white;
  margin-bottom: 45px;
  margin-right: 50px;
}
.head-buttons button{
  margin-inline-start: 80px ;
  margin-inline-end: 30px;
  background-color: #B30623;
  border-color: #B30623;
  border-style: hidden;
  color: white;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;

}

p {
  margin: auto;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  

}
